In [2]:
# Importing libraries we are going to use
import pandas as pd
import numpy as np

#Split the data into training and testing set
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

#Measuring accuracy on Testing Data
from sklearn import metrics

In [3]:
data = pd.read_csv('outbreaks.csv',sep=',')
data

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19114,2015,December,Wisconsin,Restaurant,NaN,NaN,Norovirus genogroup II,GII_14,Confirmed,4,0.0,0.0
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,NaN,Norovirus genogroup II,GII_2,Confirmed,16,0.0,0.0
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,NaN,NaN,Norovirus genogroup II,GII_17 Kawasaki (2014),Confirmed,43,3.0,0.0
19117,2015,December,Wisconsin,Fast Food Restaurant,NaN,NaN,Norovirus genogroup II,GII_2,Confirmed,5,0.0,0.0
19118,2015,December,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,3,0.0,0.0

## Data preprocessing

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19119 entries, 0 to 19118
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               19119 non-null  int64
 1   Month              19119 non-null  object
 2   State              19119 non-null  object
 3   Location           16953 non-null  object
 4   Food               10156 non-null  object
 5   Ingredient         1876 non-null   object
 6   Species            12500 non-null  object
 7   Serotype/Genotype  3907 non-null   object
 8   Status             12500 non-null  object
 9   Illnesses          19119 non-null  int64
 10  Hospitalizations   15494 non-null  float64
 11  Fatalities         15518 non-null  float64
dtypes: float64(2), int64(2), object(8)
memory usage: 1.8+ MB

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,19119.0,2005.562373,5.158404,1998.0,2001.0,2005.0,2010.0,2015.0
Illnesses,19119.0,19.537162,49.452417,2.0,3.0,8.0,19.0,1939.0
Hospitalizations,15494.0,0.947528,5.312772,0.0,0.0,0.0,1.0,308.0
Fatalities,15518.0,0.021717,0.386976,0.0,0.0,0.0,0.0,33.0

In [6]:
data.isnull().sum()

Year                     0
Month                    0
State                    0
Location              2166
Food                  8963
Ingredient           17243
Species               6619
Serotype/Genotype    15212
Status                6619
Illnesses                0
Hospitalizations      3625
Fatalities            3601
dtype: int64

In [7]:

data = data.drop(['Serotype/Genotype','Ingredient'], axis=1)

In [8]:
data = data.dropna()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5202 entries, 3 to 19115
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              5202 non-null   int64
 1   Month             5202 non-null   object
 2   State             5202 non-null   object
 3   Location          5202 non-null   object
 4   Food              5202 non-null   object
 5   Species           5202 non-null   object
 6   Status            5202 non-null   object
 7   Illnesses         5202 non-null   int64
 8   Hospitalizations  5202 non-null   float64
 9   Fatalities        5202 non-null   float64
dtypes: float64(2), int64(2), object(6)
memory usage: 447.0+ KB

In [10]:
## There are not null values anymores
data.isnull().sum()

Year                0
Month               0
State               0
Location            0
Food                0
Species             0
Status              0
Illnesses           0
Hospitalizations    0
Fatalities          0
dtype: int64

In [11]:
data.head()

,Year,Month,State,Location,Food,Species,Status,Illnesses,Hospitalizations,Fatalities
3,1998,January,California,Restaurant,"Fish, Ahi",Scombroid toxin,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",Salmonella enterica,Confirmed,26,3.0,0.0
7,1998,January,California,Restaurant,"Stuffing, Unspecified; Sandwich, Turkey",Salmonella enterica,Confirmed,4,3.0,0.0
15,1998,January,Florida,Restaurant,"Ethnic Style, Unspecified",Clostridium perfringens,Suspected,3,0.0,0.0
17,1998,January,Florida,Restaurant,"Ground Beef, Cheeseburger",Staphylococcus aureus,Suspected,2,0.0,0.0

## Data Preparation

In [12]:
cat_vars = ['Year','State','Location','Illnesses','Species','Status','Month','Hospitalizations','Fatalities']
for var in cat_vars:
    cat_list ='var'+'_'+var
    cat_list = pd.get_dummies(data[var], prefix=var)
    data1 = data.join(cat_list)
    data = data1
    
data_vars = data.columns.values.tolist()
to_keep = [i for i in data_vars if i not in cat_vars]

data_final = data[to_keep]
data_final.columns.values

array(['Food', 'Year_1998', 'Year_1999', 'Year_2000', 'Year_2001',
       'Year_2002', 'Year_2003', 'Year_2004', 'Year_2005', 'Year_2006',
       'Year_2007', 'Year_2008', 'Year_2009', 'Year_2010', 'Year_2011',
       'Year_2012', 'Year_2013', 'Year_2014', 'Year_2015',
       'State_Alabama', 'State_Alaska', 'State_Arizona', 'State_Arkansas',
       'State_California', 'State_Colorado', 'State_Connecticut',
       'State_Delaware', 'State_Florida', 'State_Georgia', 'State_Guam',
       'State_Hawaii', 'State_Idaho', 'State_Illinois', 'State_Indiana',
       'State_Iowa', 'State_Kansas', 'State_Kentucky', 'State_Louisiana',
       'State_Maine', 'State_Maryland', 'State_Massachusetts',
       'State_Michigan', 'State_Minnesota', 'State_Mississippi',
       'State_Missouri', 'State_Montana', 'State_Multistate',
       'State_Nebraska', 'State_Nevada', 'State_New Hampshire',
       'State_New Jersey', 'State_New Mexico', 'State_New York',
       'State_North Carolina', 'State_North Dakota', 'State_Ohio',
       'State_Oklahoma', 'State_Oregon', 'State_Pennsylvania',
       'State_Puerto Rico', 'State_Republic of Palau',
       'State_Rhode Island', 'State_South Carolina', 'State_South Dakota',
       'State_Tennessee', 'State_Texas', 'State_Utah', 'State_Vermont',
       'State_Virginia', 'State_Washington', 'State_Washington DC',
       'State_West Virginia', 'State_Wisconsin', 'State_Wyoming',
       'Location_Banquet Facility',
       'Location_Banquet Facility; Catering Service',
       'Location_Banquet Facility; Grocery Store',
       'Location_Banquet Facility; Office/Indoor Workplace',
       'Location_Banquet Facility; Religious Facility',
       'Location_Banquet Facility; Unknown', 'Location_Camp',
       'Location_Catering Service', 'Location_Catering Service; Camp',
       'Location_Catering Service; Child Daycare',
       'Location_Catering Service; Fair/Festival',
       'Location_Catering Service; Grocery Store',
       'Location_Catering Service; Nursing Home/Assisted Living Facility',
       'Location_Catering Service; Office/Indoor Workplace',
       'Location_Catering Service; Religious Facility',
       'Location_Catering Service; School/College/University',
       'Location_Child Daycare',
       'Location_Child Daycare; Religious Facility',
       'Location_Child Daycare; School/College/University',
       'Location_Fair/Festival',
       'Location_Fair/Festival; Office/Indoor Workplace',
       'Location_Farm/Dairy', 'Location_Fast Food Restaurant',
       'Location_Fast Food Restaurant; Catering Service',
       'Location_Fast Food Restaurant; Fair/Festival; School/College/University',
       'Location_Fast Food Restaurant; Grocery Store',
       'Location_Fast Food Restaurant; Private Home/Residence',
       'Location_Fast Food Restaurant; Private Home/Residence; Grocery Store',
       'Location_Fast Food Restaurant; Restaurant',
       'Location_Fast Food Restaurant; Restaurant; Fair/Festival',
       'Location_Fast Food Restaurant; Restaurant; Private Home/Residence',
       'Location_Fast Food Restaurant; Restaurant; Private Home/Residence; Grocery Store',
       'Location_Fast Food Restaurant; Restaurant; Restaurant; Grocery Store; Office/Indoor Workplace',
       'Location_Fast Food Restaurant; Restaurant; Restaurant; Private Home/Residence',
       'Location_Fast Food Restaurant; Restaurant; Restaurant; Private Home/Residence; Grocery Store; Long-Term Care/Nursing Home/As...',
       'Location_Fast Food Restaurant; Restaurant; School/College/University',
       'Location_Grocery Store',
       'Location_Grocery Store; Office/Indoor Workplace',
       'Location_Grocery Store; Religious Facility',
       'Location_Grocery Store; School/College/University',
       'Location_Hospital',
       'Location_Nursing Home/Assisted Living Facility',
       'Location_Nursing Home/Assisted Living Facility; Hospital',
       'Location_Office/Indoor Workplace',
       'Location_Office/Indoor Workplace; Camp',
       'Location_Office/Indoor Workplace; Hospital',
       'Location_Prison/Jail', 'Location_Private Home/Residence',
       'Location_Private Home/Residence; Banquet Facility',
       'Location_Private Home/Residence; Banquet Facility; Catering Service',
       'Location_Private Home/Residence; Banquet Facility; Religious Facility',
       'Location_Private Home/Residence; Camp',
       'Location_Private Home/Residence; Catering Service',
       'Location_Private Home/Residence; Catering Service; Grocery Store',
       'Location_Private Home/Residence; Catering Service; Religious Facility',
       'Location_Private Home/Residence; Catering Service; School/College/University',
       'Location_Private Home/Residence; Fair/Festival',
       'Location_Private Home/Residence; Grocery Store',
       'Location_Private Home/Residence; Grocery Store; Nursing Home/Assisted Living Facility; School/College/University',
       'Location_Private Home/Residence; Grocery Store; Religious Facility',
       'Location_Private Home/Residence; Grocery Store; School/College/University',
       'Location_Private Home/Residence; Hospital; School/College/University',
       'Location_Private Home/Residence; Office/Indoor Workplace',
       'Location_Private Home/Residence; Office/Indoor Workplace; Camp',
       'Location_Private Home/Residence; Religious Facility',
       'Location_Private Home/Residence; School/College/University',
       'Location_Private Home/Residence; Unknown',
       'Location_Religious Facility', 'Location_Restaurant',
       'Location_Restaurant Buffet',
       'Location_Restaurant; Banquet Facility',
       'Location_Restaurant; Banquet Facility; Office/Indoor Workplace',
       'Location_Restaurant; Camp',
       'Location_Restaurant; Catering Service',
       'Location_Restaurant; Catering Service; Fair/Festival',
       'Location_Restaurant; Catering Service; Grocery Store',
       'Location_Restaurant; Catering Service; Office/Indoor Workplace',
       'Location_Restaurant; Catering Service; Religious Facility',
       'Location_Restaurant; Catering Service; School/College/University',
       'Location_Restaurant; Fair/Festival',
       'Location_Restaurant; Grocery Store',
       'Location_Restaurant; Grocery Store; Office/Indoor Workplace',
       'Location_Restaurant; Hospital; School/College/University',
       'Location_Restaurant; Nursing Home/Assisted Living Facility',
       'Location_Restaurant; Nursing Home/Assisted Living Facility; Hospital',
       'Location_Restaurant; Office/Indoor Workplace',
       'Location_Restaurant; Office/Indoor Workplace; School/College/University',
       'Location_Restaurant; Private Home/Residence',
       'Location_Restaurant; Private Home/Residence; Banquet Facility; Catering Service; Grocery Store',
       'Location_Restaurant; Private Home/Residence; Banquet Facility; Grocery Store',
       'Location_Restaurant; Private Home/Residence; Camp',
       'Location_Restaurant; Private Home/Residence; Catering Service',
       'Location_Restaurant; Private Home/Residence; Catering Service; Fair/Festival',
       'Location_Restaurant; Private Home/Residence; Catering Service; Grocery Store; Nursing Home/Assisted Living Facility; Hospital',
       'Location_Restaurant; Private Home/Residence; Fair/Festival',
       'Location_Restaurant; Private Home/Residence; Fair/Festival; Grocery Store; School/College/University',
       'Location_Restaurant; Private Home/Residence; Grocery Store',
       'Location_Restaurant; Private Home/Residence; Grocery Store; Nursing Home/Assisted Living Facility',
       'Location_Restaurant; Private Home/Residence; Hospital',
       'Location_Restaurant; Private Home/Residence; School/College/University',
       'Location_Restaurant; Religious Facility',
       'Location_Restaurant; Restaurant',
       'Location_Restaurant; Restaurant; Private Home/Residence; Banquet Facility',
       'Location_Restaurant; School/College/University',
       'Location_Restaurant; Unknown',
       'Location_School/College/University',
       'Location_School/College/University; Camp',
       'Location_School/College/University; Prison/Jail',
       'Location_School/College/University; Religious Facility',
       'Location_Ship/Boat', 'Location_Unknown', 'Illnesses_2',
       'Illnesses_3', 'Illnesses_4', 'Illnesses_5', 'Illnesses_6',
       'Illnesses_7', 'Illnesses_8', 'Illnesses_9', 'Illnesses_10',
       'Illnesses_11', 'Illnesses_12', 'Illnesses_13', 'Illnesses_14',
       'Illnesses_15', 'Illnesses_16', 'Illnesses_17', 'Illnesses_18',
       'Illnesses_19', 'Illnesses_20', 'Illnesses_21', 'Illnesses_22',
       'Illnesses_23', 'Illnesses_24', 'Illnesses_25', 'Illnesses_26',
       'Illnesses_27', 'Illnesses_28', 'Illnesses_29', 'Illnesses_30',
       'Illnesses_31', 'Illnesses_32', 'Illnesses_33', 'Illnesses_34',
       'Illnesses_35', 'Illnesses_36', 'Illnesses_37', 'Illnesses_38',
       'Illnesses_39', 'Illnesses_40', 'Illnesses_41', 'Illnesses_42',
       'Illnesses_43', 'Illnesses_44', 'Illnesses_45', 'Illnesses_46',
       'Illnesses_47', 'Illnesses_48', 'Illnesses_49', 'Illnesses_50',
       'Illnesses_51', 'Illnesses_52', 'Illnesses_53', 'Illnesses_54',
       'Illnesses_55', 'Illnesses_56', 'Illnesses_57', 'Illnesses_58',
       'Illnesses_59', 'Illnesses_60', 'Illnesses_61', 'Illnesses_62',
       'Illnesses_63', 'Illnesses_64', 'Illnesses_65', 'Illnesses_66',
       'Illnesses_67', 'Illnesses_68', 'Illnesses_69', 'Illnesses_70',
       'Illnesses_71', 'Illnesses_72', 'Illnesses_73', 'Illnesses_74',
       'Illnesses_75', 'Illnesses_76', 'Illnesses_77', 'Illnesses_78',
       'Illnesses_79', 'Illnesses_80', 'Illnesses_81', 'Illnesses_82',
       'Illnesses_83', 'Illnesses_84', 'Illnesses_86', 'Illnesses_87',
       'Illnesses_88', 'Illnesses_89', 'Illnesses_90', 'Illnesses_91',
       'Illnesses_92', 'Illnesses_93', 'Illnesses_94', 'Illnesses_95',
       'Illnesses_96', 'Illnesses_97', 'Illnesses_98', 'Illnesses_99',
       'Illnesses_100', 'Illnesses_101', 'Illnesses_102', 'Illnesses_103',
       'Illnesses_104', 'Illnesses_105', 'Illnesses_106', 'Illnesses_107',
       'Illnesses_108', 'Illnesses_110', 'Illnesses_111', 'Illnesses_112',
       'Illnesses_113', 'Illnesses_114', 'Illnesses_115', 'Illnesses_116',
       'Illnesses_117', 'Illnesses_118', 'Illnesses_119', 'Illnesses_120',
       'Illnesses_121', 'Illnesses_124', 'Illnesses_125', 'Illnesses_126',
       'Illnesses_127', 'Illnesses_128', 'Illnesses_129', 'Illnesses_131',
       'Illnesses_132', 'Illnesses_133', 'Illnesses_134', 'Illnesses_135',
       'Illnesses_136', 'Illnesses_137', 'Illnesses_138', 'Illnesses_139',
       'Illnesses_140', 'Illnesses_141', 'Illnesses_142', 'Illnesses_145',
       'Illnesses_146', 'Illnesses_147', 'Illnesses_150', 'Illnesses_151',
       'Illnesses_155', 'Illnesses_157', 'Illnesses_159', 'Illnesses_161',
       'Illnesses_166', 'Illnesses_167', 'Illnesses_170', 'Illnesses_177',
       'Illnesses_181', 'Illnesses_188', 'Illnesses_189', 'Illnesses_190',
       'Illnesses_192', 'Illnesses_196', 'Illnesses_198', 'Illnesses_199',
       'Illnesses_200', 'Illnesses_202', 'Illnesses_204', 'Illnesses_207',
       'Illnesses_215', 'Illnesses_219', 'Illnesses_220', 'Illnesses_221',
       'Illnesses_227', 'Illnesses_231', 'Illnesses_238', 'Illnesses_239',
       'Illnesses_245', 'Illnesses_249', 'Illnesses_250', 'Illnesses_252',
       'Illnesses_256', 'Illnesses_258', 'Illnesses_259', 'Illnesses_261',
       'Illnesses_264', 'Illnesses_268', 'Illnesses_269', 'Illnesses_270',
       'Illnesses_275', 'Illnesses_276', 'Illnesses_283', 'Illnesses_294',
       'Illnesses_297', 'Illnesses_300', 'Illnesses_304', 'Illnesses_314',
       'Illnesses_317', 'Illnesses_318', 'Illnesses_321', 'Illnesses_329',
       'Illnesses_333', 'Illnesses_338', 'Illnesses_350', 'Illnesses_365',
       'Illnesses_400', 'Illnesses_401', 'Illnesses_425', 'Illnesses_429',
       'Illnesses_460', 'Illnesses_510', 'Illnesses_552', 'Illnesses_700',
       'Illnesses_736', 'Illnesses_802', 'Illnesses_880', 'Illnesses_916',
       'Illnesses_950', 'Illnesses_1644',
       'Species_Amnesic shellfish poison', 'Species_Anisakis',
       'Species_Bacillus cereus',
       'Species_Bacillus cereus; Bacillus other',
       'Species_Bacillus cereus; Clostridium perfringens',
       'Species_Bacillus cereus; Clostridium perfringens; Bacterium',
       'Species_Bacillus cereus; Clostridium perfringens; Staphylococcus aureus',
       'Species_Bacillus cereus; Staphylococcus aureus',
       'Species_Bacillus other', 'Species_Bacillus unknown',
       'Species_Bacillus unknown; Clostridium perfringens',
       'Species_Bacterium', 'Species_Brucella unknown',
       'Species_Campylobacter', 'Species_Campylobacter coli',
       'Species_Campylobacter jejuni',
       'Species_Campylobacter jejuni; Bacillus cereus',
       'Species_Campylobacter jejuni; Campylobacter coli',
       'Species_Campylobacter jejuni; Campylobacter other',
       'Species_Campylobacter jejuni; Escherichia coli, Shiga toxin-producing',
       'Species_Campylobacter jejuni; Escherichia coli, Shiga toxin-producing; Giardia',
       'Species_Campylobacter jejuni; Salmonella enterica',
       'Species_Campylobacter jejuni; Staphylococcus aureus',
       'Species_Campylobacter other', 'Species_Campylobacter unknown',
       'Species_Campylobacter unknown; Campylobacter jejuni',
       'Species_Campylobacter unknown; Salmonella enterica',
       'Species_Chemical or toxin', 'Species_Ciguatoxin',
       'Species_Cleaning agents', 'Species_Clostridium botulinum',
       'Species_Clostridium perfringens',
       'Species_Clostridium perfringens; Bacillus cereus',
       'Species_Clostridium perfringens; Campylobacter jejuni',
       'Species_Clostridium perfringens; Clostridium perfringens',
       'Species_Clostridium perfringens; Norovirus unknown',
       'Species_Clostridium perfringens; Salmonella enterica',
       'Species_Clostridium perfringens; Staphylococcus aureus',
       'Species_Clostridium perfringens; Streptococcus group A',
       'Species_Cryptosporidium',
       'Species_Cryptosporidium hominis; Cryptosporidium parvum; Cryptosporidium',
       'Species_Cryptosporidium parvum',
       'Species_Cryptosporidium unknown',
       'Species_Cyclospora cayatenensis', 'Species_Enterococcus faecalis',
       'Species_Escherichia coli',
       'Species_Escherichia coli, Enteroaggregative',
       'Species_Escherichia coli, Enteroaggregative; Campylobacter other',
       'Species_Escherichia coli, Enteroaggregative; Escherichia coli, Enteropathogenic',
       'Species_Escherichia coli, Enteropathogenic',
       'Species_Escherichia coli, Enterotoxigenic',
       'Species_Escherichia coli, Shiga toxin-producing',
       'Species_Escherichia coli, Shiga toxin-producing; Campylobacter jejuni',
       'Species_Escherichia coli, Shiga toxin-producing; Escherichia coli, Shiga toxin-producing',
       'Species_Escherichia coli, Shiga toxin-producing; Escherichia coli, Shiga toxin-producing; Escherichia coli, Shiga toxin-producing',
       'Species_Escherichia coli, Shiga toxin-producing; Norovirus genogroup I',
       'Species_Giardia intestinalis', 'Species_Heavy metals',
       'Species_Hepatitis A', 'Species_Histamine',
       'Species_Listeria monocytogenes',
       'Species_Listeria monocytogenes; Norovirus genogroup I',
       'Species_Listeria unknown', 'Species_Monosodium glutamate (MSG)',
       'Species_Mycotoxins', 'Species_Neurotoxic shellfish poison',
       'Species_Norovirus', 'Species_Norovirus genogroup I',
       'Species_Norovirus genogroup I; Adenovirus',
       'Species_Norovirus genogroup I; Bacillus cereus',
       'Species_Norovirus genogroup I; Campylobacter jejuni',
       'Species_Norovirus genogroup I; Norovirus genogroup II',
       'Species_Norovirus genogroup I; Shigella unknown',
       'Species_Norovirus genogroup II',
       'Species_Norovirus genogroup II; Adenovirus',
       'Species_Norovirus genogroup II; Escherichia coli, Shiga toxin-producing',
       'Species_Norovirus genogroup II; Norovirus',
       'Species_Norovirus genogroup II; Norovirus genogroup II',
       'Species_Norovirus genogroup II; Norovirus genogroup II; Norovirus genogroup II',
       'Species_Norovirus other', 'Species_Norovirus unknown',
       'Species_Norovirus unknown; Norovirus genogroup II',
       'Species_Norovirus unknown; Salmonella enterica',
       'Species_Norovirus unknown; Staphylococcus unknown',
       'Species_Paralytic shellfish poison', 'Species_Parasite',
       'Species_Pesticides', 'Species_Plant or herbal toxins',
       'Species_Puffer fish tetrodotoxin', 'Species_Rotavirus',
       'Species_Salmonella', 'Species_Salmonella enterica',
       'Species_Salmonella enterica; Bacillus cereus',
       'Species_Salmonella enterica; Campylobacter jejuni',
       'Species_Salmonella enterica; Campylobacter jejuni; Campylobacter coli',
       'Species_Salmonella enterica; Campylobacter unknown',
       'Species_Salmonella enterica; Clostridium perfringens; Salmonella enterica',
       'Species_Salmonella enterica; Norovirus; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella enterica; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica; Salmonella enterica',
       'Species_Salmonella enterica; Salmonella unknown',
       'Species_Salmonella enterica; Staphylococcus aureus; Bacillus cereus',
       'Species_Salmonella other', 'Species_Salmonella unknown',
       'Species_Sapovirus', 'Species_Sapovirus genogroup I',
       'Species_Sapovirus unknown', 'Species_Scombroid toxin',
       'Species_Shigella boydii',
       'Species_Shigella boydii; Shigella sonnei',
       'Species_Shigella flexneri', 'Species_Shigella sonnei',
       'Species_Shigella unknown',
       'Species_Shigella; Escherichia coli, Shiga toxin-producing; Escherichia coli, Shiga toxin-producing; Salmonella enterica; Salmonella enterica',
       'Species_Shigella; Escherichia coli, Shiga toxin-producing; Norovirus; Salmonella enterica',
       'Species_Shigella; Salmonella enterica; Escherichia coli, Shiga toxin-producing; Norovirus',
       'Species_Staphylococcus', 'Species_Staphylococcus aureus',
       'Species_Staphylococcus aureus; Bacillus cereus',
       'Species_Staphylococcus aureus; Bacillus cereus; Clostridium perfringens',
       'Species_Staphylococcus aureus; Bacillus cereus; Enterobacter other',
       'Species_Staphylococcus aureus; Clostridium perfringens',
       'Species_Staphylococcus aureus; Norovirus unknown',
       'Species_Staphylococcus unknown', 'Species_Streptococcus group A',
       'Species_Trichinella spiralis', 'Species_Trichinella unknown',
       'Species_Unknown', 'Species_Vibrio cholerae',
       'Species_Vibrio other', 'Species_Vibrio parahaemolyticus',
       'Species_Vibrio parahaemolyticus; Vibrio other',
       'Species_Vibrio unknown', 'Species_Virus',
       'Species_Yersinia enterocolitica', 'Status_Confirmed',
       'Status_Confirmed; Confirmed',
       'Status_Confirmed; Confirmed; Confirmed',
       'Status_Confirmed; Confirmed; Confirmed; Confirmed; Confirmed; Confirmed',
       'Status_Confirmed; Confirmed; Confirmed; Confirmed; Confirmed; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected',
       'Status_Confirmed; Confirmed; Suspected',

In [13]:
## Segregating by Features (X1, X2,...,Xk) y Label (y)
X = data_final.loc[:, data_final.columns != 'Food']
y = data_final.loc[:, data_final.columns == 'Food']

In [14]:
## Split into train and validation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
clf = KNeighborsClassifier(n_neighbors=2)

#Printing all the parameters of KNN
print(clf)

KNeighborsClassifier(n_neighbors=2)

In [23]:
#Creating the model on Training Data
KNN=clf.fit(X_train,y_train)
y_pred=KNN.predict(X_test)

/home/chingu/.local/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [24]:
#Measuring accuracy on Testing Data
KNN.score(X_train, y_train)
pd.DataFrame(y_pred)

                         0
0          Chicken, Strips
1         Chicken, Tandori
2                    Pizza
3       Enchilada, Chicken
4             Crab, Cooked
...                    ...
1036        Fish, Baracuda
1037         Fish, Escolar
1038         Fish, Grouper
1039  Chicken, Unspecified
1040       Chicken, Strips

[1041 rows x 1 columns]

This is showing the relation between the ilnesses and the food.

In [25]:
pd.DataFrame(y_test)

                                          Food
9950                     Creme-Filled Doughnut
352    Chicken, Unspecified; Cake, Unspecified
17987                      Tamale, Unspecified
8570                     Sandwich, Unspecified
16247                  Mexican Spicy Meat Stew
...                                        ...
7101                           Fish, Amberjack
4456                                Cantaloupe
17980                        Fish, Almaco Jack
214                       Hot Dog, Unspecified
9773                              Oysters, Raw

[1041 rows x 1 columns]